extends layout 
 
block content 
 h1(class="text-center")= title 
 if (toShow == null) 
  h2 No instance to delete 
 else
  - let hotelid = toShow._id
  - let Hotel_name = toShow.Hotel_name
  - let Location = toShow.Location
  - let price = toShow.price

  div.row(class='mb-2')
   div.mr-1 ID is
   div #{hotelid}
  - let actionid = "/resource/hotel/" + hotelid 
  form(id='hotelForm',class="text-center", action=actionid, method="PUT") 
    div.form-group 
        label.hotelAttr(for='Hotel_name') Hotel_name 
        input#Hotel_name(type='text', name='Hotel_name', value= Hotel_name) 
    div.form-group 
        label.hotelAttr(for='Location') Location
        input#Location(type='text', name='Location', value= Location) 
    div.form-group 
        label.hotelAttr(for='price') price 
        input#price(type='number', name='price', value= price) 
    input(type="submit" //class="btn btn-warning m-2") 
 
  script. 
    document.forms['hotelForm'].addEventListener('submit', (event) => { 
        event.preventDefault(); 
        // TODO do something here to show user that form is being submitted 
        fetch(event.target.action, { 
            method: 'PUT', 
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
        }).then((resp) => { 
            return resp.json(); // or resp.text() or whatever the server sends 
        }).then((body) => { 
            alert("Update succeded") 
            // TODO handle body 
        }).catch((error) => { 
            // TODO handle error 
            alert("Update failed " + error ) 
        }); 
        });